<?xml version="1.0" ?>
<robot name="mobile2_bot" xmlns:xacro="http://www.ros.org/wiki/xacro" >

<material name="mobile2_bot_silver">
  <color rgba="0.700 0.700 0.700 1.000"/>
</material>

<material name="mobile2_bot_color0">
  <color rgba="0.153 0.153 0.153 1.0"/>
</material>

<material name="mobile2_bot_color1">
  <color rgba="0.965 0.965 0.953 1.0"/>
</material>

</robot>
